<%provide(:title, "About")%>

<h1>About</h1>
<p>
This is a sample app clonable from
<a href="https://github.com/Diegomurcia/rails-arch/">Github</a>
from the <a href="https://www.railstutorial.org/"><em>Ruby on Rails
Tutorial</em></a>  
</p>