<%provide(:title, "Contact")%>

<h1>Contact</h1>
<p>
For contact, see the git repo and write to it`s owner
<a href="https://github.com/Diegomurcia/rails-arch/">Github</a>
<em>From Ruby on Rails Tutorial</em>
</p>