<%provide(:title, "Help")%>

<h1>Help</h1>
<p>
To get help about this sample app, see the git repo:
<a href="https://github.com/Diegomurcia/rails-arch/">Github</a>
<em>From Ruby on Rails Tutorial</em>
</p>